/* html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links *
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"* "\e151";
}

a.desc:after {
    content: /*"\e114"* "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar *
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


 */
                .fixed-plugin {
                    top: 50px;
                }

                .form-group label.control-label {
                    font-size: 15px !important
                }

                .payee_sum {
                    background: #26c6da;
                    color: #FFFFFF;
                }

                .fixed-plugin {
                    position: fixed;
                    /* top: 180px; */
                    right: 0;
                    width: 64px;
                    background: rgba(0, 0, 0, .3);
                    z-index: 1031;
                    border-radius: 8px 0 0 8px;
                    text-align: center;
                }

                .fixed-plugin .fa-cog {
                    color: #FFFFFF;
                    padding: 10px;
                    border-radius: 0 0 6px 6px;
                    width: auto;
                }

                .fixed-plugin .dropdown .dropdown-menu {
                    -webkit-transform: translateY(-15%);
                    -moz-transform: translateY(-15%);
                    -o-transform: translateY(-15%);
                    -ms-transform: translateY(-15%);
                    transform: translateY(-15%);
                    top: 27px;
                    opacity: 0;
                    transform-origin: 0 0;
                }

                .fixed-plugin .dropdown-menu {
                    right: 80px;
                    left: auto;
                    width: 290px;
                    border-radius: 10px;
                    padding: 0 10px;
                }

                .fixed-plugin li.header-title {
                    height: 30px;
                    line-height: 25px;
                    font-size: 12px;
                    font-weight: 600;
                    text-align: center;
                    text-transform: uppercase;
                }

                .fixed-plugin li.adjustments-line,
                .fixed-plugin li.header-title,
                .fixed-plugin li.button-container {
                    width: 100%;
                    height: 50px;
                    min-height: inherit;
                }

                .fixed-plugin .dropdown-menu li {
                    display: block;
                    padding: 5px 2px;
                    width: 25%;
                    float: left;
                }


                .fixed-plugin .dropdown.open .dropdown-menu {
                    opacity: 1;
                    -webkit-transform: translateY(-13%);
                    -moz-transform: translateY(-13%);
                    -o-transform: translateY(-13%);
                    -ms-transform: translateY(-13%);
                    transform: translateY(-13%);
                    transform-origin: 0 0;
                }

                .card {
                    box-shadow: none !important;
                }

                .nav .open>a,
                .nav .open>a:focus,
                .nav .open>a:hover {
                    background-color: #ab47bc;
                    border-color: #337ab7;
                }

                .card [data-background-color] a {
                    color: #000000;
                }

                body,
                h1,
                h2,
                h3,
                h4,
                h5 {
                    font-family: 'Kanit', sans-serif;
                }
